/TurnosBD/nbproject/private/
/TurnosBD/build/
/TemplateTurnos/nbproject/private/
/TemplateTurnos/build/
/TemplateTurnos/dist/
/PruebaJJ/nbproject/private/
/PruebaJJ/build/
/PruebaJJ/dist/
/TurnosBD/dist/

/STurnos/dist/
/STurnos/build/
/_TemplateTurnos/nbproject/private/
/_TemplateTurnos/build/